.play-video{
    flex-basis: 69%;
}
.play-video iframe{
    width: 100%;
    border-radius: 10px;
    height: 37vw;
}
.play-video h3{
    margin-top: 10px;
    font-weight: 500;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.play-video-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 15px;
    color: #5a5a5a;
    font-weight: 550;
}

.play-video-info img{
    width: 30px;
    margin-right: 1px;
    margin-left: 10px;
    
}
.like-btn{
    margin:10px ;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    padding-left: 0;
    background: transparent;

    padding: 18px 40px;
    border: 0;
    outline: 0;
    border-radius: 34px;
    cursor: pointer;
}
.like-btn button{
    border: none;
    border-radius: 25%;
    background-color: transparent;
    padding: 1px;
    height: 42px;
    font-size: 20px;
    color: #5a5a5a;
    font-weight: 550;
}


.play-video hr{
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}
.publisher{
    display: flex;
    align-items: center;
    margin: 20px;
}
.publisher div{
    flex: 1;
    line-height: 14px;
}
.publisher img{
    width: 70px;
    border-radius: 50%;
    margin-right: 15px;
}
.publisher div p{
    color: #000;
    font-weight: 600;
    font-size: 23px;
}
.publisher div span{
    font-size: 18px;
    color: #5a5a5a;
}
.publisher button{
    background: rgb(227, 7, 7);
    color: #fff;
    padding: 18px 40px;
    border: 0;
    outline: 0;
    border-radius: 34px;
    cursor: pointer;
    font-size: 18px;
}
.vid-description{
    padding-left: 55px;
    margin: 15px 0;
}
.vid-description p{
    font-size: 15px;
    margin-bottom: 8px;
    color: #5a5a5a;
    font-weight: 550;
}
.vid-description h4{
    font-size: 20px;
    color: #5a5a5a;
    margin-top: 15px;
    font-weight: 600;
}
.comment{
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
}
.comment img{
    width: 45px;
    border-radius: 50%;
    margin-left: 15px;
}
.comment h3{
    font-size: 18px;
    margin-bottom: 2px;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.comment p{
    font-size: 15px;
}
.comment div{
    margin-left: 10px;
}
.comment h3 span{
    font-size: 16px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 10px;
}
.comment-action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 18px;
}
.comment-action img{
    border-radius: 0;
    width: 30px;
    margin-right: 10px;
}
.comment-action span{
    margin-right: 22px;
    color: #5a5a5a;
}
@media (max-width:900px){
    .play-video{
        flex-basis: 100%;
    }
    .play-video iframe{
        width: 100%;
        height: 50vw;
    }
    .vid-description{
        padding-left: 0;
    }
    .play-video .play-video-info span{
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
    }
}