.sidebar{
    background: #fff;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 120px;
    font-size: 20px;
}
.sortcut-links img{
    width: 30px;
    margin-right: 20px;
}
.side-link{
    display: flex;
    align-items: center;
    margin-bottom:20px;
    width: fit-content;
    flex-wrap: wrap;
    cursor: pointer;
}
.sidebar hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 85%;
}
.subscribed-list h3{
    font-size: 13px;
    margin: 20px 0;
    color: #5a5a5a;
}
.subscribed-list img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}
.small-sidebar{
    width: 5%;
}
.small-sidebar p{
    display: none;
}
.small-sidebar h3{
    display: none;
}
.small-sidebar hr{
    width: 50%;
    margin-bottom: 25px;
}
.side-link.active img{
    padding-bottom: 3px;
    border-bottom: 4px solid red;
}
@media (max-width:900px) {
    .sidebar{
        display: none;
    }
}