.recommended{
    flex-basis: 30%;
}
.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-video-list img{
    flex-basis: 49%;
    width: 50%;
    border-radius: 10px;
}
.vid-info{
    flex-basis: 48%;
}
.vid-info h4{
    font-size: 18px;
    margin-bottom: 5px;
}
@media (max-width:900px){
    .recommended{
        flex-basis: 100%;
    }
}